*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li {
    font-size: 26px;
    padding: 10px 30px
}
.header i{
    margin-top: 20px;
}

.get-btn {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: green;
    margin-right: 20px;
    padding: 13px;
    background-color: orange;
}

.signin-btn {
    border-radius: 12px;
    border:none;
    font-size: 22px;
    color:  black;
    margin-left: 30px;
    padding: 13px 50px;
    background-color: transparent;
    
}
.welcome{
    background-color: rgb(71, 198, 71);
    padding: 80px;
}
.welcome h1{
    color: white;
        padding: 20px 40px;
        font-size: 3em;
        margin-left: 5em;
}
.view-btn {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: green;
    margin-left:25em;
    padding: 13px;
    background-color: orange;
}
.mission{
    padding: 60px;
    margin-left: 20em;
}
.mission span{
    color: green;
}
.mission h1{
    color: rgb(5, 5, 104);
}
.help-btn {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: white;
    margin-left: 40em;
    padding: 13px;
    background-color: green;;
}
.culture{
    padding: 8px 30px;
    margin-left: 7em;
}
.culture span{
    color: green;
}
.culture h1{
    color: rgb(5, 5, 104);
}
.culture img{
  
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 28pxpx solid black;
    border-radius: 50%;
    margin-left: 50em; 
    position: absolute;
    top: 500px;
 
}
.sustainability span{
    color: green;
}
.sustainability h1{
    color: rgb(5, 5, 104);
}
.sustainability {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.sustainability img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    
    border: 28pxpx solid black;
  
 
}


